<div th:fragment="modulosExtra(projects)">
    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">1. Proyectos de investigación</div>

        <div class="card-body" id="projects-container" th:if="${!projects.isEmpty()}">

            <div class="card mb-3 border border-secondary p-3"
                 th:each="project: ${projects}">
                <div th:if="${user.id != project.createdBy}">
                    <input type="hidden" class="form-control projectId" name="id" th:value="${project.id}">
                    <input type="hidden" class="form-control formatId" name="formatId" th:value="${project.formatId}">
                    <div th:if="${project.createdByName != null}">
                        <label class="form-label fw-bold mb-3">Docente:</label>
                        <span name="name"
                              th:text="${project.createdByName}"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Proyecto:</label>
                        <span name="name"
                              th:text="${project.name}"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Actividades:</label>
                        <span name="activities"
                              th:text="${project.activities}"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label fw-bold">Fecha de Inicio:</label>
                            <span name="startDate"
                                  th:text="${project.startDate != null ? project.startDate.toString() : ''}">
                            </span>
                        </div>
                        <div class="col-md-5">
                            <label class="form-label fw-bold">Fecha de Terminación:</label>
                            <span th:text="${project.endDate != null ? project.endDate.toString() : ''}"
                                  name="endDate">
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                            <span th:text="${project.compliancePercentage}"
                                  name="compliancePercentage">
                            </span>
                        </div>
                    </div>
                </div>
                <div th:if="${user.id == project.createdBy}">
                    <form th:action="@{/projects}"
                          method="post">
                        <input type="hidden" class="form-control projectId" name="id" th:value="${project.id}">
                        <input type="hidden" class="form-control formatId" name="formatId"
                               th:value="${project.formatId}">

                        <div th:if="${project.createdByName != null}">
                            <label class="form-label fw-bold mb-3">Docente:</label>
                            <span name="name"
                                  th:text="${project.createdByName}"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Proyecto:</label>
                            <textarea class="form-control"
                                      name="name"
                                      th:text="${project.name}"
                                      rows="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Actividades:</label>
                            <textarea class="form-control"
                                      name="activities"
                                      th:text="${project.activities}"
                                      rows="2"></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <label class="form-label fw-bold">Fecha de Inicio:</label>
                                <input type="date" class="form-control" name="startDate"
                                       th:value="${project.startDate != null ? project.startDate.toString() : ''}">
                            </div>
                            <div class="col-md-5">
                                <label class="form-label fw-bold">Fecha de Terminación:</label>
                                <input type="date" class="form-control"
                                       th:value="${project.endDate != null ? project.endDate.toString() : ''}"
                                       name="endDate">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label fw-bold">% de Cumplimiento:</label>
                                <input type="number" class="form-control" th:value="${project.compliancePercentage}"
                                       name="compliancePercentage" min="0" max="100" step="1">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                            <a type="button" class="btn btn-sm btn-warning ms-2 publish"
                               data-bs-toggle="modal" data-bs-target="#publicarModal"
                               th:attr="data-project-id=${project.id}"
                               th:if="${project.statusId != 2}">
                                Publicar
                            </a>
                            <button type="button" class="btn btn-sm btn-outline-danger ms-2"
                                    onclick="this.closest('.card').remove()">Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addProject()">+ Agregar Proyecto
            </button>
        </div>
        <div class="modal fade" id="publicarModal" tabindex="-1" aria-labelledby="publicarModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="publicarModalLabel">Confirmar Publicación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas publicar este proyecto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-primary" id="confirmarPublicacion">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">2. Participación en Dirección de Trabajo de Grado y/o Tesis</div>
        <div class="card-body" id="directions-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addDirection()">+ Agregar Participación
            </button>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">3. Organización de Eventos de Investigación / Científicos</div>
        <div class="card-body" id="events-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addEvent()">+ Agregar Evento
            </button>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">4. Otras actividades de Investigación</div>
        <div class="card-body" id="others-activities-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addOtherActivities()">+ Agregar Actividad
            </button>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">5. Productos</div>
        <div class="card-body" id="products-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
            </button>
        </div>
    </div>
</div>