<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - GIDISOFT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<!-- Menú lateral -->
<div class="sidebar collapsed" id="sidebar">
    <div th:replace="~{components/utils/menu}"></div>
</div>

<div id="successToast" class="toast align-items-center text-white bg-success border-0 position-fixed top-0 start-0 m-3"
     role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="d-flex">
        <div class="toast-body">
            <span th:text="${message}"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div id="errorToast" class="toast align-items-center text-white bg-danger border-0 position-fixed top-0 start-0 m-3"
     role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="d-flex">
        <div class="toast-body">
            <span th:text="${createError}"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div class="content" id="content">
    <div th:replace="~{components/utils/header-user :: header(${user})}"></div>
    <div class="container-card">
        <div th:if="${teachers != null}">
            <div class="container-fluid">
                <span>Gestión de docentes</span>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTeacherModal">
                    Agregar Docente
                </button>
            </div>
            <div th:replace="~{components/users/table_teachers :: table(${teachers})}" style="display: none;"></div>
        </div>
        <div th:if="${formats != null}">
            <div class="container-fluid">
                <div>
                    <span>Gestión de informes de investigación</span>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltros" aria-controls="offcanvasFiltros">
                        <i class="fas fa-filter me-1"></i> Filtros
                    </button>
                    <a th:if="${user.roleType == 'admin'}" type="button" class="btn btn-success" th:href="@{/formats/create}">
                        Agregar informe
                    </a>
                </div>
            </div>
            <div th:replace="~{components/formats/table/table_format :: table(${formats})}" style="display: none;"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title d-flex align-items-center" id="addTeacherModalLabel">Agregar Nuevo Docente</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/users/save}" id="addTeacherForm" method="post">
                    <input type="hidden" id="teacherId" name="id" />

                    <div class="mb-3">
                        <label for="usercode" class="form-label fw-bold">Código del docente:</label>
                        <input
                                type="text"
                                inputmode="numeric"
                                pattern="[0-9]*"
                                minlength="4"
                                maxlength="4"
                                class="form-control"
                                id="usercode"
                                name="usercode"
                                required
                        />
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Nombre completo:</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                required
                        />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Correo electrónico:</label>
                        <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label fw-bold">Número de teléfono:</label>
                        <input
                                type="text"
                                inputmode="numeric"
                                pattern="[0-9]*"
                                minlength="10"
                                maxlength="10"
                                class="form-control"
                                id="phoneNumber"
                                name="phoneNumber"
                                required
                        />
                    </div>

                    <div class="mb-4">
                        <label for="role" class="form-label fw-bold">Rol:</label>
                        <select class="form-select" id="role" name="roleId" required>
                            <option value="" disabled selected hidden>Seleccione un rol</option>
                            <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.name}"></option>
                        </select>
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este docente? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="teacherConfirm">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmActivateModal" tabindex="-1" aria-labelledby="confirmActivateLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmActivateLabel">Confirmar Activación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas activar este docente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="teacherActivate">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmPublishFormatModal" tabindex="-1" aria-labelledby="confirmActivateLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmPublishFormatLabel">Confirmar Activación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas publicar este formato?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="publishFormat">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteFormatModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmDeleteFormatLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este formato? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="formatConfirm">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openModalGenerate" tabindex="-1" aria-labelledby="openModalGenerate" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="openModalGenerateLabel">Exportar informe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Selecciona el formato del archivo</h5>
                <select id="fileFormat">
                    <option value="docx">Word (.docx)</option>
                    <option value="pdf">PDF (.pdf)</option>
                    <option value="xlsx">Excel (.xlsx)</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="generateConfirm">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFiltros" aria-labelledby="offcanvasFiltrosLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-semibold" id="offcanvasFiltrosLabel">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
        <form id="filtroForm">
            <div class="mb-4">
                <label for="teacher" class="form-label fw-medium">Director</label>
                <select class="form-select shadow-sm" id="teacher" name="teacher">
                    <option value="" disabled selected hidden class="text-center">Seleccione el director</option>
                    <option th:each="teacher : ${teachersSelect}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
                </select>
            </div>
            <div class="mb-4">
                <label for="group" class="form-label fw-medium">Grupo de investigación</label>
                <select class="form-select shadow-sm" id="group" name="group">
                    <option value="" disabled selected hidden class="text-center">Seleccione el grupo</option>
                    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <div class="mb-4">
                <label for="academicPeriod" class="form-label fw-medium">Semestre académico</label>
                <select class="form-select shadow-sm" id="academicPeriod" name="academicPeriod">
                    <option value="" disabled selected hidden class="text-center">Seleccione el grupo</option>
                    <option th:each="year : ${years}" th:value="${year.id}" th:text="${year.value}"></option>
                </select>
            </div>
            <div class="mb-4">
                <label for="status" class="form-label fw-medium">Estado</label>
                <select class="form-select shadow-sm" id="status" name="status">
                    <option value="" disabled selected hidden class="text-center">Seleccione el estado</option>
                    <option value="1">Borrador</option>
                    <option value="2">Enviado</option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary px-4" id="limpiarFiltros">Limpiar</button>
                <button type="submit" class="btn px-4 text-white ms-2" style="background-color: #8B0000;">Aplicar</button>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap y JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/components/utils/togglebtn.js}"></script>
<script th:src="@{/js/components/utils/alert.js}"></script>
<script th:src="@{/js/components/users/delete_teacher.js}"></script>
<script th:src="@{/js/components/users/update_users.js}"></script>
<script th:src="@{/js/components/formats/delete_format.js}"></script>
<script th:src="@{/js/components/users/activate.js}"></script>
<script th:src="@{/js/components/formats/activate_format.js}"></script>
<script th:src="@{/js/components/utils/filter_applicated.js}"></script>
<script th:src="@{/js/components/formats/generate_format.js}"></script>
</body>
</html>
