<div th:fragment="modulosExtra(projects)">

    <!-- 1. Proyectos de investigación -->
    <div class="accordion mb-3" id="accordionProjects">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProjects">
                <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProjects"
                        aria-expanded="false" aria-controls="collapseOneProjects" style="background-color: #8B0000">
                    Proyectos de investigación
                </button>
            </h2>
            <div id="collapseOneProjects" class="accordion-collapse collapse" aria-labelledby="headingOneProjects"
                 data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <div class="card-body mb-3" id="projects-container">
                        <div class="card mb-3 border border-secondary p-3" th:if="${!projects.isEmpty()}"
                             th:each="project: ${projects}">
                            <div th:if="${user.id != project.createdBy and !#lists.contains(editableProjectsIds, project.id)
                                    and user.roleType != 'admin'}">
                                <input type="hidden" class="form-control projectId" name="id"
                                       th:value="${project.id}">
                                <input type="hidden" class="form-control formatId" name="formatId"
                                       th:value="${project.formatId}">
                                <div th:if="${project.editorsNames != null}">
                                    <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                    <span name="name">
                                        <span th:each="editor, iterStat : ${project.editorsNames}">
                                            <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                        </span>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Proyecto:</label>
                                    <span name="name"
                                          th:text="${project.name}"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="form-label fw-bold">Actividades:</label>
                                        <span name="activities"
                                              th:text="${project.activities}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">% de Cumplimiento:</label>
                                        <span th:text="${project.compliancePercentage}"
                                              name="compliancePercentage">
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center"
                                     th:if="${(project.files != null and !project.files.isEmpty())
                                   and (user.roleType == 'admin' or user.id == project.createdBy or #lists.contains(editableProjectsIds, project.id))}">
                                    <button type="button"
                                            class="btn btn-sm btn-secondary view-evidences"
                                            th:data-project-name="${project.name}"
                                            th:data-files="${#strings.arrayJoin(project.files.toArray(), ',')}"
                                            data-entity="projects"
                                            data-bs-toggle="modal"
                                            data-bs-target="#evidenceModal"
                                            th:attr="data-project-id=${project.id}, data-format-id=${project.formatId},
                                                     data-entity='projects'">
                                        Ver evidencias (<span th:text="${project.files.size()}"></span>)
                                        <i class="fas fa-images ms-2"></i>
                                    </button>
                                </div>
                            </div>
                            <div th:if="${user.id == project.createdBy
                            or #lists.contains(editableProjectsIds, project.id)
                            or user.roleType == 'admin'}">
                                <form th:action="@{/projects}"
                                      method="post" enctype="multipart/form-data" id="formProject">
                                    <input type="hidden" class="form-control projectId" name="id"
                                           th:value="${project.id}">
                                    <input type="hidden" class="form-control formatId" name="formatId"
                                           th:value="${project.formatId}">
                                    <div th:if="${project.editorsNames != null}">
                                        <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                        <span name="editors">
                                            <span th:each="editor, iterStat : ${project.editorsNames}">
                                                <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Proyecto:</label>
                                        <textarea class="form-control"
                                                  name="name"
                                                  th:text="${project.name}"
                                                  rows="1"></textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-10">
                                            <label class="form-label fw-bold">Actividades:</label>
                                            <textarea class="form-control"
                                                      name="activities"
                                                      th:text="${project.activities}"
                                                      rows="1"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                                            <input
                                                    type="text"
                                                    inputmode="numeric"
                                                    pattern="[0-9]*"
                                                    maxlength="3"
                                                    class="form-control no-spinner"
                                                    th:value="${project.compliancePercentage}"
                                                    name="compliancePercentage"
                                                    required
                                            />
                                        </div>
                                    </div>

                                    <div class="project-block mb-3" th:data-id="${project.id}">
                                        <label class="form-label fw-bold d-block mb-3">Cargar evidencias:</label>
                                        <input type="file" name="files" multiple class="fileInput"
                                               style="display:none"/>
                                        <button type="button" class="fileButton btn btn-sm btn-outline-secondary">
                                            Seleccionar archivos
                                        </button>
                                        <small class="fileCount form-text text-muted ms-2">Ningún archivo
                                            seleccionado</small>
                                        <div class="fileNamesContainer mt-2"></div>
                                    </div>

                                    <div class="d-flex justify-content-end align-items-center">
                                        <button type="button"
                                                class="btn btn-sm btn-secondary view-evidences"
                                                th:data-project-name="${project.name}"
                                                data-entity="projects"
                                                th:data-files="${#strings.arrayJoin(project.files.toArray(), ',')}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#evidenceModal"
                                                th:if="${project.files != null and !project.files.isEmpty()}"
                                                th:attr="data-entity='projects',
                                                data-project-id=${project.id}, data-format-id=${project.formatId}">
                                            Ver evidencias (<span th:text="${project.files.size()}"></span>)
                                            <i class="fas fa-images ms-2"></i>
                                        </button>
                                        <a type="button" class="btn btn-warning btn-sm ms-2"
                                           data-bs-toggle="modal"
                                           th:attr="data-bs-target='#permisosModal__' + ${project.id}"
                                           title="Permisos">Permisos
                                            <i class="fas fa-user-shield ms-2"></i></a>
                                        <button type="submit" class="btn btn-sm btn-primary ms-2">Guardar</button>
                                        <a type="button" class="btn btn-sm btn-outline-danger ms-2 deleteProject"
                                           data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Eliminar
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                    </div>-->
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProject()">+ Agregar Proyecto
                        </button>
                    </div>
                </div>
            </div>

            <!--        eliminar proyecto          -->
            <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="publicarModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProjectLabel">Confirmar eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar este proyecto?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-danger" id="deleteProjectConfirm">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--        permisos proyecto          -->
            <div th:each="project : ${projects}">
                <div class="modal fade" th:id="'permisosModal__' + ${project.id}" tabindex="-1"
                     aria-labelledby="permisosModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title">Gestionar Permisos - Proyecto:
                                    <span th:text="${project.name}"></span>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                            </div>
                            <form th:action="@{/projects/{id}/permissions(id=${project.id})}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control formatId" name="formatId"
                                               th:value="${project.formatId}">
                                        <label for="usuariosProject" class="mb-3">Selecciona los usuarios con
                                            acceso:</label>
                                        <select id="usuariosProject" class="form-select mb-3" multiple name="users">
                                            <option th:each="usuario : ${users}"
                                                    th:value="${usuario.id}"
                                                    th:text="${usuario.usercode} + ' - ' + ${usuario.name}">
                                            </option>
                                        </select>
                                        <small class="form-text text-muted">Mantén presionada Ctrl (o Cmd en Mac) para
                                            seleccionar múltiples usuarios.</small>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Guardar Permisos</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 2. Participación en Dirección de Trabajo de Grado y/o Tesis -->
    <div class="accordion mb-3" id="accordionDirections">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneDirections">
                <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneDirections"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Participación en Dirección de Trabajo de Grado, maestrías y/o doctorados
                </button>
            </h2>

            <div id="collapseOneDirections" class="accordion-collapse collapse" aria-labelledby="headingOneDirections"
                 data-bs-parent="#accordionDirections">
                <div class="accordion-body">
                    <div class="card-body mb-3" id="directions-container">
                        <script th:inline="javascript">
                            window.users = /*[[${users}]]*/ [];
                        </script>
                        <div class="card mb-3 border border-secondary p-3" th:if="${!directions.isEmpty()}"
                             th:each="direction: ${directions}">
                            <div th:if="${!#lists.contains(direction.editorsNames, user.name)
                                    and user.roleType != 'admin'}">
                                <input type="hidden" class="form-control directionId" name="id"
                                       th:value="${direction.id}">
                                <input type="hidden" class="form-control formatId" name="formatId"
                                       th:value="${direction.formatId}">
                                <div th:if="${direction.editorsNames != null}">
                                    <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                    <span name="editors">
                                            <span th:each="editor, iterStat : ${direction.editorsNames}">
                                                <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                            </span>
                                        </span>
                                </div>
                                <div class="mb-3">
                                    <div>
                                        <label class="form-label fw-bold">Participación en:</label>
                                        <span name="name"
                                              th:text="${direction.name}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="form-label fw-bold">Director:</label>
                                        <span name="projectType"
                                              th:text="${direction.directorName}"></span>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label fw-bold">Codirector:</label>
                                        <span name="projectType"
                                              th:text="${direction.codirectorName}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">% de Cumplimiento:</label>
                                        <span th:text="${direction.compliancePercentage}"
                                              name="compliancePercentage">
                                            </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center"
                                     th:if="${(direction.files != null and !direction.files.isEmpty())
                                   and (user.roleType == 'admin' or #lists.contains(direction.editorsNames, user.name))}">
                                    <button type="button"
                                            class="btn btn-sm btn-secondary view-evidences"
                                            th:data-direction-name="${direction.name}"
                                            th:data-files="${#strings.arrayJoin(direction.files.toArray(), ',')}"
                                            data-entity="directions"
                                            data-bs-toggle="modal"
                                            data-bs-target="#evidenceModal"
                                            th:attr="data-entity='directions',
                                            data-direction-id=${direction.id}, data-format-id=${direction.formatId}">
                                        Ver evidencias (<span th:text="${direction.files.size()}"></span>)
                                        <i class="fas fa-images ms-2"></i>
                                    </button>
                                </div>
                            </div>

                            <div th:if="${#lists.contains(direction.editorsNames, user.name)
                                    or user.roleType == 'admin'}">
                                <form th:action="@{/directions}"
                                      method="post" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control directionId" name="id"
                                           th:value="${direction.id}">
                                    <input type="hidden" class="form-control formatId" name="formatId"
                                           th:value="${direction.formatId}">

                                    <div th:if="${direction.editorsNames != null}">
                                        <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                        <span name="editors">
                                            <span th:each="editor, iterStat : ${direction.editorsNames}">
                                                <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Título del proyecto:</label>
                                        <textarea class="form-control"
                                                  name="name"
                                                  th:text="${direction.name}"
                                                  rows="1"></textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label class="form-label fw-bold">Director:</label>
                                            <select class="form-select text-center" id="director" name="director">
                                                <option value="" disabled selected hidden>Seleccione el director
                                                </option>
                                                <option th:each="user: ${users}"
                                                        th:value="${user.id}"
                                                        th:text="${user.name}"
                                                        th:selected="${direction.director} == ${user.id}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="form-label fw-bold">Codirector:</label>
                                            <select class="form-select text-center" id="codirector"
                                                    name="codirector">
                                                <option value="" disabled selected hidden>¿Cuenta con codirector?
                                                </option>
                                                <option th:each="user: ${users}"
                                                        th:value="${user.id}"
                                                        th:text="${user.name}"
                                                        th:selected="${direction.codirector} == ${user.id}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                                            <input
                                                    type="text"
                                                    inputmode="numeric"
                                                    pattern="[0-9]*"
                                                    maxlength="3"
                                                    class="form-control no-spinner"
                                                    th:value="${direction.compliancePercentage}"
                                                    name="compliancePercentage"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <div class="project-block mb-3" th:data-id="${direction.id}">
                                        <label class="form-label fw-bold d-block mb-3">Cargar evidencias:</label>
                                        <input type="file" name="files" multiple class="fileInput"
                                               style="display:none"/>
                                        <button type="button" class="fileButton btn btn-sm btn-outline-secondary">
                                            Seleccionar archivos
                                        </button>
                                        <small class="fileCount form-text text-muted ms-2">Ningún archivo
                                            seleccionado</small>
                                        <div class="fileNamesContainer mt-2"></div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <button type="button"
                                                class="btn btn-sm btn-secondary view-evidences"
                                                th:data-direction-name="${direction.name}"
                                                data-entity="directions"
                                                th:data-files="${#strings.arrayJoin(direction.files.toArray(), ',')}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#evidenceModal"
                                                th:if="${direction.files != null and !direction.files.isEmpty()}"
                                                th:attr="data-entity='directions',
                                                data-direction-id=${direction.id}, data-format-id=${direction.formatId}">
                                            Ver evidencias (<span th:text="${direction.files.size()}"></span>)
                                            <i class="fas fa-images ms-2"></i>
                                        </button>
                                        <a type="button" class="btn btn-warning btn-sm ms-2"
                                           data-bs-toggle="modal"
                                           th:attr="data-bs-target='#permisosModalDirection__' + ${direction.id}"
                                           title="Permisos">Permisos
                                            <i class="fas fa-user-shield ms-2"></i></a>
                                        <button type="submit" class="btn btn-sm btn-primary ms-2">Guardar</button>
                                        <a type="button" class="btn btn-sm btn-outline-danger ms-2 deleteDirection"
                                           data-bs-toggle="modal" data-bs-target="#deleteDirectionModal">Eliminar
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addDirection()">+ Agregar
                            Participación
                        </button>
                    </div>
                </div>
            </div>
            <!--        eliminar proyecto          -->
            <div class="modal fade" id="deleteDirectionModal" tabindex="-1" aria-labelledby="deleteDirectionModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteDirectionLabel">Confirmar eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar este proyecto?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-danger" id="deleteDirectionConfirm">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--        permisos participación          -->
            <div th:each="direction : ${directions}">
                <div class="modal fade" th:id="'permisosModalDirection__' + ${direction.id}" tabindex="-1"
                     aria-labelledby="permisosModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title">Gestionar Permisos - Proyecto:
                                    <span th:text="${direction.name}"></span>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                            </div>
                            <form th:action="@{/directions/{id}/permissions(id=${direction.id})}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control formatId" name="formatId"
                                               th:value="${direction.formatId}">
                                        <label for="usuariosParticipación" class="mb-3">Selecciona los usuarios con
                                            acceso:</label>
                                        <select id="usuariosParticipación" class="form-select mb-3" multiple
                                                name="users">
                                            <option th:each="usuario : ${users}"
                                                    th:value="${usuario.id}"
                                                    th:text="${usuario.usercode} + ' - ' + ${usuario.name}">
                                            </option>
                                        </select>
                                        <small class="form-text text-muted">Mantén presionada Ctrl (o Cmd en Mac) para
                                            seleccionar múltiples usuarios.</small>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Guardar Permisos</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 3. Organización de Eventos de Investigación / Científicos -->
    <div class="accordion mb-3" id="accordionEvents">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneEvents">
                <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneEvents"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Organización de Eventos de Investigación / Científicos
                </button>
            </h2>

            <div id="collapseOneEvents" class="accordion-collapse collapse" aria-labelledby="headingOneEvents"
                 data-bs-parent="#accordionEvents">
                <div class="accordion-body">
                    <div class="card-body" id="events-container">

                        <div class="card mb-3 border border-secondary p-3" th:if="${!events.isEmpty()}"
                             th:each="event: ${events}">
                            <div th:if="${!#lists.contains(event.editorsNames, user.name)
                                    and user.roleType != 'admin'}">
                                <input type="hidden" class="form-control eventId" name="id"
                                       th:value="${event.id}">
                                <input type="hidden" class="form-control formatId" name="formatId"
                                       th:value="${event.formatId}">
                                <div th:if="${event.editorsNames != null}">
                                    <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                    <span name="editors">
                                            <span th:each="editor, iterStat : ${event.editorsNames}">
                                                <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                            </span>
                                        </span>
                                </div>
                                <div class="mb-3">
                                    <div>
                                        <label class="form-label fw-bold">Evento:</label>
                                        <span name="name"
                                              th:text="${event.name}"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-5">
                                        <label class="form-label fw-bold">Fecha de Terminación:</label>
                                        <span th:text="${event.createdAtFormatted != null ? event.createdAtFormatted.toString() : ''}"
                                              name="createdAt">
                                    </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">% de Cumplimiento:</label>
                                        <span th:text="${event.compliancePercentage}"
                                              name="compliancePercentage">
                                    </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center"
                                     th:if="${(event.files != null and !event.files.isEmpty())
                                   and (user.roleType == 'admin' or #lists.contains(event.editorsNames, user.name))}">
                                    <button type="button"
                                            class="btn btn-sm btn-secondary view-evidences"
                                            th:data-project-name="${event.name}"
                                            th:data-files="${#strings.arrayJoin(event.files.toArray(), ',')}"
                                            data-entity="events"
                                            data-bs-toggle="modal"
                                            data-bs-target="#evidenceModal"
                                            th:attr="data-entity='events',
                                            data-event-id=${event.id}, data-format-id=${event.formatId}">
                                        Ver evidencias (<span th:text="${event.files.size()}"></span>)
                                        <i class="fas fa-images ms-2"></i>
                                    </button>
                                </div>
                            </div>
                            <div th:if="${#lists.contains(event.editorsNames, user.name)
                                    or user.roleType == 'admin'}">
                                <form th:action="@{/events}"
                                      method="post" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control eventId" name="id"
                                           th:value="${event.id}">
                                    <input type="hidden" class="form-control formatId" name="formatId"
                                           th:value="${event.formatId}">

                                    <div th:if="${event.editorsNames != null}">
                                        <label class="form-label fw-bold mb-3">Docentes Editores:</label>
                                        <span name="editors">
                                            <span th:each="editor, iterStat : ${event.editorsNames}">
                                                <span th:text="${iterStat.last} ? ${editor} : ${editor + ','}"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Evento:</label>
                                        <textarea class="form-control"
                                                  name="name"
                                                  th:text="${event.name}"
                                                  rows="1"></textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label class="form-label fw-bold">Fecha de realización:</label>
                                            <input type="date" class="form-control" name="createdAt"
                                                   th:value="${event.createdAt}">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                                            <input
                                                    type="text"
                                                    inputmode="numeric"
                                                    pattern="[0-9]*"
                                                    maxlength="3"
                                                    class="form-control no-spinner"
                                                    th:value="${event.compliancePercentage}"
                                                    name="compliancePercentage"
                                                    required/>
                                        </div>
                                    </div>
                                    <div class="project-block mb-3" th:data-id="${event.id}">
                                        <label class="form-label fw-bold d-block mb-3">Cargar evidencias:</label>
                                        <input type="file" name="files" multiple class="fileInput"
                                               style="display:none"/>
                                        <button type="button" class="fileButton btn btn-sm btn-outline-secondary">
                                            Seleccionar archivos
                                        </button>
                                        <small class="fileCount form-text text-muted ms-2">Ningún archivo
                                            seleccionado</small>
                                        <div class="fileNamesContainer mt-2"></div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <button type="button"
                                                class="btn btn-sm btn-secondary view-evidences"
                                                th:data-project-name="${event.name}"
                                                data-entity="events"
                                                th:data-files="${#strings.arrayJoin(event.files.toArray(), ',')}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#evidenceModal"
                                                th:if="${event.files != null and !event.files.isEmpty()}"
                                                th:attr="data-entity='events',
                                                data-event-id=${event.id}, data-format-id=${event.formatId}">
                                            Ver evidencias (<span th:text="${event.files.size()}"></span>)
                                            <i class="fas fa-images ms-2"></i>
                                        </button>
                                        <a type="button" class="btn btn-warning btn-sm ms-2"
                                           data-bs-toggle="modal"
                                           th:attr="data-bs-target='#permisosModalEvent__' + ${event.id}"
                                           title="Permisos">Permisos
                                            <i class="fas fa-user-shield ms-2"></i></a>
                                        <button type="submit" class="btn btn-sm btn-primary ms-2">Guardar</button>
                                        <a type="button" class="btn btn-sm btn-outline-danger ms-2 deleteEvent"
                                           data-bs-toggle="modal" data-bs-target="#deleteEventModal">Eliminar
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addEvent()">+ Agregar Evento
                        </button>
                    </div>
                </div>
            </div>
            <!-- Eliminar evento -->
            <div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteEventLabel">Confirmar eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar este evento?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-danger" id="deleteEventConfirm">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 4. Otras actividades de Investigación -->
    <div class="accordion mb-3" id="accordionOtherActivities">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneOtherActivities">
                <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOneOtherActivities"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Otras actividades de Investigacións
                </button>
            </h2>

            <div id="collapseOneOtherActivities" class="accordion-collapse collapse"
                 aria-labelledby="headingOneOtherActivities"
                 data-bs-parent="#accordionOtherActivities">
                <div class="accordion-body">
                    <div class="card-body" id="others-activities-container">
                        <!-- Las secciones de proyecto se insertan aquí -->
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addOtherActivities()">+ Agregar Actividad
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="mt-2 mb-3 fw-bold">Productos</h5>
    <section></section>
    <!-- Producto uno -->
    <div class="accordion mb-3" id="accordionProductGruplac">
        <div class="accordion-item border border-dark">
            <h2 class="accordion-header" id="headingOneProductGruplac">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductGruplac"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Actualización GrupLAC / CGIS
                </button>
            </h2>

            <div id="collapseOneProductGruplac" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductGruplac"
                 data-bs-parent="#accordionProductGruplac">
                <div class="accordion-body">
                    <div class="card-body" id="productGruplac">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto dos -->
    <div class="accordion mb-3" id="accordionProductParticipation">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductParticipation">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductParticipation"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Participación convocatoria de reconocimiento MinCiencias
                </button>
            </h2>

            <div id="collapseOneProductParticipation" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductParticipation"
                 data-bs-parent="#accordionProductParticipation">
                <div class="accordion-body">
                    <div class="card-body" id="productParticipation">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto tres -->
    <div class="accordion mb-3" id="accordionProductProjects">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductProjects">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductProjects"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Proyectos terminados y/o ejecución, avalados con financiación interna (FINU) o externa
                </button>
            </h2>

            <div id="collapseOneProductProjects" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductProjects"
                 data-bs-parent="#accordionProductProjects">
                <div class="accordion-body">
                    <div class="card-body" id="productProjects">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto cuatro -->
    <div class="accordion mb-3" id="accordionProductArticle">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductArticle">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductArticle"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Artículo publicado o remitido revista científica
                </button>
            </h2>

            <div id="collapseOneProductArticle" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductArticle"
                 data-bs-parent="#accordionProductArticle">
                <div class="accordion-body">
                    <div class="card-body" id="productArticle">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto cinco -->
    <div class="accordion mb-3" id="accordionProductProposal">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductProposal">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductProposal"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Participación propuesta investigación en convocatoria interna o externa
                </button>
            </h2>

            <div id="collapseOneProductProposal" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductProposal"
                 data-bs-parent="#accordionProductProposal">
                <div class="accordion-body">
                    <div class="card-body" id="productProposal">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto seis -->
    <div class="accordion mb-3" id="accordionProductPapel">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductPapel">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductPapel"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Ponencia evento académico regional, nacional o internacional
                </button>
            </h2>

            <div id="collapseOneProductPapel" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductPapel"
                 data-bs-parent="#accordionProductPapel">
                <div class="accordion-body">
                    <div class="card-body" id="productPapel">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto siete -->
    <div class="accordion mb-3" id="accordionProductDirection">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneProductDirection">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneProductDirection"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Dirección trabajo de grado (post-grado, maestría)
                </button>
            </h2>

            <div id="collapseOneProductDirection" class="accordion-collapse collapse"
                 aria-labelledby="headingOneProductDirection"
                 data-bs-parent="#accordionProductDirection">
                <div class="accordion-body">
                    <div class="card-body" id="productDirection">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Producto ocho -->
    <div class="accordion mb-3" id="accordionOthersProducts">
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOneOthersProducts">
                <button class="accordion-button collapsed text-white fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOneOthersProducts"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    Otros productos
                </button>
            </h2>

            <div id="collapseOneOthersProducts" class="accordion-collapse collapse"
                 aria-labelledby="headingOneOthersProducts"
                 data-bs-parent="#accordionOthersProducts">
                <div class="accordion-body">
                    <div class="card-body" id="othersProducts">
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal con Carrusel -->
    <div class="modal fade" id="evidenceModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content border-0 rounded-3 shadow-lg">
                <div class="modal-header bg-light border-bottom">
                    <h5 class="modal-title fw-semibold" id="evidenceModalTitle">Evidencias del Proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body p-0 bg-dark">
                    <div id="carouselEvidences" class="carousel slide d-flex w-100 h-100" data-bs-ride="carousel">
                        <div class="carousel-inner w-100 h-100" id="carouselInner">
                            <!-- Se llena por JS -->
                        </div>

                        <!-- Controles de navegación -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvidences"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-secondary rounded-circle p-2"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvidences"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-secondary rounded-circle p-2"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
                <div class="carousel-caption-custom">
                    <button id="deleteImageBtn" class="btn btn-sm btn-danger me-2">
                        Eliminar
                    </button>
                    Imagen <span id="currentImageIndex">1</span> de <span id="totalImages">1</span>
                </div>
            </div>
        </div>
    </div>
</div>

