<div th:fragment="modulosExtra(projects)">

    <div class="accordion mb-3" id="accordionExample">
        <!-- 1. Proyectos de investigación -->
        <div class="accordion-item border border-dark mb-3">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" style="background-color: #8B0000">
                    1. Proyectos de investigación
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!--                    <div class="card border border-dark mb-3">-->
                    <div class="card-body mb-3" id="projects-container">
                        <div class="card mb-3 border border-secondary p-3" th:if="${!projects.isEmpty()}"
                             th:each="project: ${projects}">
                            <div th:if="${user.id != project.createdBy}">
                                <input type="hidden" class="form-control projectId" name="id"
                                       th:value="${project.id}">
                                <input type="hidden" class="form-control formatId" name="formatId"
                                       th:value="${project.formatId}">
                                <div th:if="${project.createdByName != null}">
                                    <label class="form-label fw-bold mb-3">Docente:</label>
                                    <span name="name"
                                          th:text="${project.createdByName}"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Proyecto:</label>
                                    <span name="name"
                                          th:text="${project.name}"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Actividades:</label>
                                    <span name="activities"
                                          th:text="${project.activities}"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="form-label fw-bold">Fecha de Inicio:</label>
                                        <span name="startDate"
                                              th:text="${project.startDateFormatter != null ? project.startDateFormatter.toString() : ''}">
                            </span>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label fw-bold">Fecha de Terminación:</label>
                                        <span th:text="${project.endDateFormatter != null ? project.endDateFormatter.toString() : ''}"
                                              name="endDate">
                            </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">% de Cumplimiento:</label>
                                        <span th:text="${project.compliancePercentage}"
                                              name="compliancePercentage">
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${user.id == project.createdBy}">
                                <form th:action="@{/projects}"
                                      method="post">
                                    <input type="hidden" class="form-control projectId" name="id"
                                           th:value="${project.id}">
                                    <input type="hidden" class="form-control formatId" name="formatId"
                                           th:value="${project.formatId}">

                                    <div th:if="${project.createdByName != null}">
                                        <label class="form-label fw-bold mb-3">Docente:</label>
                                        <span name="name"
                                              th:text="${project.createdByName}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Proyecto:</label>
                                        <textarea class="form-control"
                                                  name="name"
                                                  th:text="${project.name}"
                                                  rows="1"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Actividades:</label>
                                        <textarea class="form-control"
                                                  name="activities"
                                                  th:text="${project.activities}"
                                                  rows="2"></textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label class="form-label fw-bold">Fecha de Inicio:</label>
                                            <input type="date" class="form-control" name="startDate"
                                                   th:value="${project.startDateFormatter != null ? project.startDateFormatter.toString() : ''}">
                                        </div>
                                        <div class="col-md-5">
                                            <label class="form-label fw-bold">Fecha de Terminación:</label>
                                            <input type="date" class="form-control"
                                                   th:value="${project.endDate != null ? project.endDate.toString() : ''}"
                                                   name="endDate">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                                            <input type="number" class="form-control"
                                                   th:value="${project.compliancePercentage}"
                                                   name="compliancePercentage" min="0" max="100" step="1">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                                        <a type="button" class="btn btn-sm btn-warning ms-2 publish"
                                           data-bs-toggle="modal" data-bs-target="#publicarModal"
                                           th:attr="data-project-id=${project.id}"
                                           th:if="${project.statusId != 2}">
                                            Publicar
                                        </a>
                                        <a type="button" class="btn btn-sm btn-outline-danger ms-2 deleteProject"
                                           data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Eliminar
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                    </div>-->
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" onclick="addProject()">+ Agregar Proyecto
                        </button>
                    </div>
                </div>
            </div>

            <!--        publicar proyecto          -->
            <div class="modal fade" id="publicarModal" tabindex="-1" aria-labelledby="publicarModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="publicarModalLabel">Confirmar Publicación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas publicar este proyecto?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-primary" id="confirmarPublicacion">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--        eliminar proyecto          -->
            <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="publicarModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProjectLabel">Confirmar eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar este proyecto?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-danger" id="deleteProjectConfirm">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">2. Participación en Dirección de Trabajo de Grado y/o Tesis</div>
        <div class="card-body" id="directions-container">
            <div class="card mb-3 border border-secondary p-3" th:if="${!directions.isEmpty()}"
                 th:each="direction: ${directions}">
                <div th:if="${user.id != direction.createdBy}">
                    <input type="hidden" class="form-control projectId" name="id" th:value="${direction.id}">
                    <input type="hidden" class="form-control formatId" name="formatId" th:value="${direction.formatId}">
                    <div th:if="${direction.createdByName != null}">
                        <label class="form-label fw-bold mb-3">Docente:</label>
                        <span name="name"
                              th:text="${direction.createdByName}"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Proyecto:</label>
                        <span name="name"
                              th:text="${direction.name}"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Tipo de proyecto (Trabajo de Grado - Tesis):</label>
                        <span name="projectType"
                              th:text="${direction.projectType}"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label fw-bold">Director:</label>
                            <span name="projectType"
                                  th:text="${direction.director}"></span>
                        </div>
                        <div class="col-md-5">
                            <label class="form-label fw-bold">Programa académico:</label>
                            <span name="projectType"
                                  th:text="${direction.academicProgram}"></span>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label fw-bold">% de Cumplimiento:</label>
                            <span th:text="${direction.compliancePercentage}"
                                  name="compliancePercentage">
                                </span>
                        </div>
                    </div>
                </div>

                <div th:if="${user.id == direction.createdBy}">
                    <form th:action="@{/directions}"
                          method="post">
                        <input type="hidden" class="form-control directionId" name="id" th:value="${direction.id}">
                        <input type="hidden" class="form-control formatId" name="formatId"
                               th:value="${direction.formatId}">

                        <div th:if="${direction.createdByName != null}">
                            <label class="form-label fw-bold mb-3">Docente:</label>
                            <span name="name"
                                  th:text="${direction.createdByName}"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Título del proyecto:</label>
                            <textarea class="form-control"
                                      name="name"
                                      th:text="${direction.name}"
                                      rows="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Tipo de proyecto (Trabajo de Grado - Tesis):</label>
                            <textarea class="form-control"
                                      name="projectType"
                                      th:text="${direction.projectType}"
                                      rows="1"></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <label class="form-label fw-bold">Director:</label>
                                <textarea class="form-control" name="director" rows="1"
                                          th:text="${direction.director}"></textarea>
                            </div>
                            <div class="col-md-5">
                                <label class="form-label fw-bold">Programa académico:</label>
                                <textarea class="form-control" name="academicProgram" rows="1"
                                          th:text="${direction.academicProgram}"></textarea>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label fw-bold">% de Cumplimiento:</label>
                                <input type="number" class="form-control" th:value="${direction.compliancePercentage}"
                                       name="compliancePercentage" min="0" max="100" step="1">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                            <a type="button" class="btn btn-sm btn-warning ms-2 publishDirection"
                               data-bs-toggle="modal" data-bs-target="#publishDirectionModal"
                               th:attr="data-project-id=${direction.id}"
                               th:if="${direction.statusId != 2}">
                                Publicar
                            </a>
                            <a type="button" class="btn btn-sm btn-outline-danger ms-2 deleteProject"
                               data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Eliminar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addDirection()">+ Agregar Participación
            </button>
        </div>
        <div class="modal fade" id="publishDirectionModal" tabindex="-1" aria-labelledby="publicarModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="publicDirectionLabel">Confirmar Publicación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que deseas publicar esta participación?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-primary" id="publishDirectionConfirm">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">3. Organización de Eventos de Investigación / Científicos</div>
        <div class="card-body" id="events-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addEvent()">+ Agregar Evento
            </button>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">4. Otras actividades de Investigación</div>
        <div class="card-body" id="others-activities-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addOtherActivities()">+ Agregar Actividad
            </button>
        </div>
    </div>

    <div class="card border border-dark mb-3">
        <div class="card-header fw-bold">5. Productos</div>
        <div class="card-body" id="products-container">
            <!-- Las secciones de proyecto se insertan aquí -->
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-success" onclick="addProducts()">+ Agregar Producto
            </button>
        </div>
    </div>
</div>